<body>
<mat-card class="card">
  <mat-card-title> 
    Charts- Contacts
</mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div>
        <p><strong>Número de contactos en función a la inicial del primer apellido </strong></p>
        <ngx-charts-bar-vertical
          [view]="[400,300]"
          [results]="initialLetter"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Inicial del apellido"
          yAxisLabel="Numero de contactos">
        </ngx-charts-bar-vertical>
      </div>
      <div>
        <p><strong>Número de contactos en funcion a la longitud del apellido completo</strong></p>
        <ngx-charts-line-chart           
        [view]="[400,300]"
        [results]="contactsByFullName"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Longitud del apellido completo"
        yAxisLabel="Numero de contactos">
        </ngx-charts-line-chart>
      </div>
    </div>
    <div class="chart-row">
      <div>
        <p><strong>Extensiones de email</strong></p>
        <ngx-charts-pie-chart
            [view]="[400,300]"
            [results]="emailExtensions"
            [labels]="true"
            [doughnut]="true">        
        </ngx-charts-pie-chart>        
      </div>
      <div>
        <p><strong>Número de contactos en función al número de prefijos</strong></p>
        <ngx-charts-bar-horizontal
        [view]="[400,300]"
        [results]="phonePrefixData"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Numero de contactos"
        yAxisLabel="Prefijo del teléfono">
        </ngx-charts-bar-horizontal>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Charts - Products 
    </mat-card-title>     
<mat-card-content>
    <div class="chart-row">
        <div>
          <p><strong>Número de productos activos</strong></p>
          <ngx-charts-pie-grid
          [view]="[400,300]"
          [results]="productActive "  
          [animations]="true"              
          xAxisLabel="Activos"
          yAxisLabel="Número producto">
          </ngx-charts-pie-grid>
          </div>
        <div>
          <p><strong>Número de productos por categorías</strong></p>
          <ngx-charts-bar-horizontal
          [view]="[500,350]"
          [results]="productCategory"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Unidades de productos"
          yAxisLabel="Categorias">
        </ngx-charts-bar-horizontal>
      </div>
         </div> 
      <div class="chart-row">
        <div>
          <p><strong>Rangos de stock de los productos</strong></p>
          <ngx-charts-line-chart
          [view]="[500,300]"
          [results]="stockRange"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [rotateXAxisTicks]="true"
          [showGridLines]="true"
          [trimXAxisTicks]="16"
          [trimYAxisTicks]="16"
          [autoScale]="false"
          xAxisLabel="Stock"
          yAxisLabel="Productos">
          </ngx-charts-line-chart>      
         </div>     
      </div>
</mat-card-content>
</mat-card>
</body>