<mat-card class="card">
    <mat-card-title>Detalle del contacto</mat-card-title>
    <mat-card-content class="card-content">
       
       <p>
        <mat-icon>person</mat-icon><strong>Nombre:</strong>{{contact.name}}
       </p>
       <p>
        <mat-icon>person</mat-icon><strong>Primer Apellido:</strong>{{contact.surname}}
       </p>
       <p>
        <mat-icon>person</mat-icon><strong>Segundo Apellido:</strong>{{contact.surname2}}
       </p>
       <p>
        <mat-icon>phone</mat-icon><strong>Telefono:</strong>{{contact.phone_number}}
       </p>
       <p>
        <mat-icon>email</mat-icon><strong>Correo Electronico:</strong>  {{contact.email}}
       </p>
    </mat-card-content>
</mat-card>

